.dropdown-container {
  position: relative;
  display: inline-block;
  width: 100%;
  /* z-index: 0; */
  display: flex;
  justify-content: space-between;
}

.dropdown-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  width: 90%;
}

.dropdown-header.open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown-header span {
  flex: 1;
}

.arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: #000 transparent transparent transparent;
}

.arrow.open {
  transform: rotate(-180deg);
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ffffff;
  z-index: 1;
  border: 0.5px solid lightgrey;
  min-width: 99.5%;
}

.dropdown-list li {
  padding: 10px;
  cursor: pointer;
}

.dropdown-list li:hover {
  background-color: #f2f2f2;
}

.dropdown-input {
  height: 100px;
}

.dropdown-input:focus {
  outline: none;
}
